
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--darkBlue);
  color: antiquewhite;
}

.attribution a {
  color: antiquewhite;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
}

/*hamburger*/

.hamburger {
  cursor: pointer;
}

.hamburger span {
  display: block;
  background-color: var(--darkBlue);
  height: 2px;
  width: 20px;
  margin: 5px 0;
  transform-origin: left center;
}

.open .line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform:  rotate(45deg);
  -o-transform:  rotate(45deg);
  transform:  rotate(45deg);
}

.open .line:nth-child(2){
  opacity: 0;
}

.open .line:nth-child(3){
  -webkit-transform:  rotate(-45deg);
  -ms-transform:  rotate(-45deg);
  -o-transform:  rotate(-45deg);
  transform:  rotate(-45deg);
}

/* Hero section */

.desktop-header-request-btn {
  display: none;
}

.hero-section {
  background-color: var(--veryLightGray);
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.hero-section-background {
  width: 100vw;
  position: relative;
  z-index: 0;
}

.hero-section-mockup {
  max-width: 100%;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem;
}

.hero-section-msg {
  font-size: 19px;
  line-height: 2rem;
  color: hsl(233, 8%, 62%);
  text-align: center;
  margin: auto;
}

h2 {
  font-size: 38px;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  height: 3rem;
}

.banking-features p {
  margin-top: 1rem;
  font-size: 19px;
  line-height: 2rem;
  color: hsl(233, 8%, 62%);
  text-align: center;
  margin: auto;
}

.hero-section-msg .request-btn {
  margin: 2rem;
}

/* Overlay */
.menu-container {
  z-index: 3;
  background-color: var(--white);
  width: 90%;
  height: 20rem;
  position: absolute;
  top: 5.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  display: none;
}

.mobile-nav-links {
  text-decoration: none;
  color: var(--darkBlue);
  padding: 1rem;
}

.overlay {
  display: none;
  background-image: linear-gradient(var(--darkBlue), transparent);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
}

/* change padding to padding: 1rem 5rem on desktop*/
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.nav-container {
  display: none;
}

.request-btn {
  padding: 1rem 2rem;
  border-radius: 5rem;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.request-btn:hover {
  background: linear-gradient(to right, hsl(136, 65%, 70%), hsl(192, 70%, 70%));
}

/* Features container */
.banking-features {
  padding: 2rem 0;
  margin: .5rem;
}

h3, h2{
  display: flex;
  justify-content: center;
  color: var(--darkBlue);
  margin: 1rem 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
}

img {
  display: flex;
  justify-content: center;
  margin: auto;
}

.features-container {
  background-color: var(--lightGrayishBlue);
  padding: 4rem 2rem;
}

/* Latest articles section */

.article-container {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.article-container img {
  height: 15rem;
  width: 100%;
}

.article-description {
  padding: 2rem;
  text-align: left;  
  margin-top: 1rem;
  font-size: 19px;
  line-height: 2rem;
  color: hsl(233, 8%, 62%);
  margin: auto;  
}

.latest-articles-container {
  background-color: var(--veryLightGray);
  padding: 2rem;
}

/* footer */

.copyright {
  color: var(--lightGrayishBlue);
  padding: 1rem;
}

footer {
  background-color: var(--darkBlue);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--veryLightGray);
}

.footer-about-container {
  margin: 2rem;
  line-height: 3rem;
  font-size: 1.4rem;
  font-weight: 200;
}

.footer-logo {
  filter: brightness(0) invert(1);
}

.footer-request-button {
  margin: 2rem;
}

.socials-icons {
  display: flex;
  margin: 3rem 0 0 0;
  justify-content: space-between;
  width: 15rem;
}

.socials-icons img {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 992px) {

  .nav-box {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    list-style-type: none;
  }
  
  .nav-links {
    text-decoration: none;
    color: black;
  }
  .header{
    padding: 0.5rem 1rem;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__logo {
    position: inherit;
  }
}
